
<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<meta charset="utf-8">

<head>
	<title>Contact V13</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/table.css">

<!--===============================================================================================-->

	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

</head>
<body>

	<div class="container-contact100">
		<div align="center"><canvas id="myChart" width="800%" height="750%" margin="0px"></canvas></div>

		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="post">
				<span class="contact100-form-title">
					<%= INFO.Line_Name %>
					<li>
						Max number : <%= INFO.Max_Number %>
					</li>

					<li>
						현재 등록 인원 : <%= INFO.Current_Enrollment_State %>
					</li>
				</span>

				<div class="table-title">
					<table class="table-fill">
						<thead>
						<tr>
							<th class="text-left">대기자 목록</th>
							<th class="text-left">Enter</th>
							<th class="text-left">State</th>
						</tr>
						</thead>
						<script>
                            var socket = io('http://localhost:3000/userlist');
                            socket.emit('connection', 'hello');
                            socket.on('update', function(data) {
                                var idx = 1;
                                $("#list").empty();
                                data.forEach((temp)=>{
                                    $("#list").append("<tr>");
                                    $("#list").append("<td>"+"User"+(idx++)+"</td>");
                                    $("#list").append("<td>"+temp['Enter']+"</td>");
                                    $("#list").append("<td>"+temp['State']+"</td>");
                                    $("#list").append("</tr>");
                                });
                            });
                            socket.on('updateEnrollments', function(temp) {
                                var ctx = document.getElementById("myChart").getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: ["월", "화", "수", "목", "금"],
                                        datasets: [{
                                            label: '오늘 손님수',
                                            data: temp,
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255,99,132,1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero:true
                                                }
                                            }]
                                        }
                                    }
                                });

                            });
							/*
							google.load('visualization', '1.0', {'packages':['corechart']});
google.setOnLoadCallback(function() {
  var chart = new google.visualization.ColumnChart(document.querySelector('#chart_div'));
  chart.draw(google.visualization.arrayToDataTable(data), options);
});
							 */

						</script>

						<tbody class="table-hover" id = "list">
						</tbody>
					</table>
				</div>



				<span class="contact100-form-title">
					<div class="row">
						<h2>위에서부터 N명 통과</h2>
						<div class="col">
							<div class="wrap-input100 validate-input">
								<input class="input100" type="text" name="numPass">
								<span class="focus-input100" data-placeholder="Pass Number"></span>
							</div>
						</div>
						<div class="col">
							<div class="container-contact100-form-btn">
								<div class="wrap-contact100-form-btn">
									<div class="contact100-form-bgbtn"></div>
									<button class="contact100-form-btn">
										Send
									</button>
								</div>
							</div>
						</div>
					</div>
				</span>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<!--<script src="vendor/jquery/jquery-3.2.1.min.js"></script>-->
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
